{% extends "budget/base.html" %}
{% block head_title_budget %}{{ title }}{% endblock %}
{% block head_budget %}
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }
    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }
    .sticky-col-1 {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        left: 0px;
    }
    .sticky-col-2 {
        left: 100px;
    }
    .sticky-col-bg-light {
        background-color: #fafafa;
    }
    .sticky-col-bg-normal {
        background-color: #f1f1f1;
    }
    th:hover {
        background-color: #ebebeb;
    }
    .tr-th-bg-light {
        background-color: #fafafa;
    }
    .tr-th-bg-normal {
        background-color: #f1f1f1;
    }
</style>
{% endblock %}
{% block content_budget %}
<h3 class="page-header">{{ title }} View</h3><hr>
<div class="wrapper">
    {% for account_name, pivot_table in accounts_table.items %}
    <h6><small>Account: </small>{{ account_name }}</h6><hr>
    <table class="table table-sm table-hover table-condensed table-responsive">
        <thead>
            <tr class="tr-th-bg-normal">
            {% for col in pivot_table.cols %}
                {% if col.is_atribute %}
                <th class="sticky-col sticky-col-{{ col.sticky }} sticky-col-bg-normal" scope="col">{{ col.atribute }}</th>
                {% else %}
                <th scope="col">{{ col.date }}</th>
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for io_name, io_rows in pivot_table.rows.items %}
                {% for total_label, rows in io_rows.items %}
                    {% for row in rows %}
                    <tr class="{% if total_label == 'total' %}tr-th-bg-light{% endif %}"> 
                        {% for col in row %}
                            {% if col.is_atribute %}
                            <th class="sticky-col sticky-col-{{ col.sticky }} {% if total_label == 'total' %}sticky-col-bg-light{% endif %} font-weight-{{ col.weight }}" scope="row">{{ col.atribute }}</th>
                            {% else %}
                            <td>
                                {% if col.transaction != 0 %}
                                    <a class="font-weight-{{ col.transaction_weight }}">{{ col.transaction|floatformat:"0" }}</a>
                                    <small><a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a></small>
                                    <div class="progress" style="height: 2px;">
                                        <div class="progress-bar bg-{{col.ratio_color}}" role="progressbar" style="width:{{col.ratio}}%;"></div>
                                    </div>
                                {% elif col.budget == 0 and total_label != 'total' %}
                                {% else %}
                                    <a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a>
                                {% endif %}
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="tr-th-bg-light">
                {% for col in pivot_table.balance %}
                    {% if col.is_atribute %}
                    <th class="sticky-col sticky-col-{{ col.sticky }} sticky-col-bg-light font-weight-{{ col.weight }}" scope="row">{{ col.atribute }}</th>
                    {% else %}
                    <td>
                        {% if col.transaction_show %}
                            <a class="font-weight-{{ col.transaction_weight }}">{{ col.transaction|floatformat:"0" }}</a>
                            <small><a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a></small>
                        {% else %}
                            <a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr class="tr-th-bg-normal">
                {% for col in pivot_table.available %}
                    {% if col.is_atribute %}
                    <th class="sticky-col sticky-col-{{ col.sticky }} sticky-col-bg-normal font-weight-{{ col.weight }}" scope="row">{{ col.atribute }}</th>
                    {% else %}
                    <td>
                        {% if col.transaction_show %}
                            <a class="font-weight-{{ col.transaction_weight }}">{{ col.transaction|floatformat:"0" }}</a>
                            <small><a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a></small>
                        {% else %}
                            <a class="text-secondary font-weight-{{ col.budget_weight }}">{{ col.budget|floatformat:"0" }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    <hr>
    {% endfor %}
</div>
{% endblock %}