{% extends "budget/base.html" %}
{% block head_title_budget %}{{ title }}{% endblock %}
{% block head_budget %}
<style>

    .wrapper {
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .sticky-col-0 {
        left: 0px;
    }

    .sticky-col-1 {
        left: 20px;
    }

    .sticky-col-2 {
        left: 40px;
    }

    .sticky-col-3 {
        left: 60px;
    }

    th:hover {
        background-color: #ebebeb;
    }

</style>
{% endblock %}
{% block content_budget %}
<h3 class="page-header">{{ title }} View</h3><hr>
<div class="wrapper">
    {% for account_name, pivot_table in accounts_table.items %}
    <h6><small>Account: </small>{{ account_name }}</h6><hr>
    <table class="table table-sm table-hover table-condensed table-responsive">
        <thead>
            <tr>
            {% for col in pivot_table.cols %}
                {% if col.is_atribute %}
                <th class="sticky-col sticky-col-{{ col.sticky }}" scope="col" witdh="{{ col.width }}px" min-width="{{ col.width }}px" max-width="{{ col.width }}px" left="{{ col.left }}px">{{ col.atribute }}</th>
                {% else %}
                <th scope="col">{{ col.date }}</th>
                {% endif %}
            {% endfor %}
            </tr>
            {% for row in pivot_table.balance %}
            <tr>
                {% for col in row %}
                    {% if col.is_atribute %}
                    <th class="align-middle sticky-col sticky-col-{{ col.sticky }}" scope="row" witdh="{{ col.width }}px" min-width="{{ col.width }}px" max-width="{{ col.width }}px" left="{{ col.left }}px">{{ col.atribute }}</th>
                    {% else %}
                        {% if col.transaction != 0 %}
                        <th>
                            {{ col.transaction|floatformat:"0" }} 
                            <small><a class="text-secondary">{{ col.budget|floatformat:"0" }}</a></small>
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-{{col.ratio_color}}" role="progressbar" style="width:{{col.ratio}}%;"></div>
                            </div>
                        </th>
                        {% else %}
                        <th class="align-top">
                            <a class="text-secondary">{{ col.budget|floatformat:"0" }}</a>
                        </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in pivot_table.rows %}
            <tr>
                {% for col in row %}
                    {% if col.is_atribute %}
                    <th class="sticky-col sticky-col-{{ col.sticky }} font-weight-normal" scope="row" witdh="{{ col.width }}px" min-width="{{ col.width }}px" max-width="{{ col.width }}px" left="{{ col.left }}px">{{ col.atribute }}</th>
                    {% else %}
                    <td>
                        {% if col.transaction != 0 %}
                            {{ col.transaction|floatformat:"0" }} 
                            <small><a class="text-secondary font-weight-light">{{ col.budget|floatformat:"0" }}</a></small>
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-{{col.ratio_color}}" role="progressbar" style="width:{{col.ratio}}%;"></div>
                            </div>
                        {% else %}
                            <a class="text-secondary font-weight-light">{{ col.budget|floatformat:"0" }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}